.modal-overlay {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;;
    background: rgba(0, 0, 0, 0.5);
    display: center;
    justify-content:center;
    align-items: center;
  }
  
  .modal {
    background:  #d0d0ff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.239);
  }
  